$--theme-ui-color-text: #000000;
$--theme-ui-color-text-secondary: #ffffff;
$--theme-ui-color-primary: #E07A5F;
$--theme-ui-color-primary--hover: #A4492F;
$--theme-ui-color-secondary: #f4f1de;
$--theme-ui-color-secondary--hover: #C4BD93;

