@import '../../styles/global.scss';

.main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    text-align: center;
    font-weight: 800;
    color: $--theme-ui-color-text;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputlist {
      display: flex;
    }
  }
}





.input--available {
  text-align: center;
  margin: 50px 12px 20px;
}

.input--available h3 {
  font-size: 20px;
}

.btn--convert,
.btn--reset {
  background: #7bf1a8;
  font-weight: 700;
  color: $--theme-ui-color-text;
  border: none;
  padding: 10px 30px;
}

.result {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result__item {
  list-style: none;
  font-size: 20px;
  margin-bottom: 20px;
}

.result__item:last-child {
  margin-bottom: 10px;
}

.btn--delete-item {
  background: #ffd6e0;
  border: none;
  color: $--theme-ui-color-text;
  font-size: 14px;
  margin-left: 20px;
}

.btn--reset {
  width: fit-content;
}

.result__list {
  overflow: scroll;
}

.btn--convert {
  width: 25%;
}


